:root{
    --font-family:"Pacifico";
    --body-font:"Amaranth", sans-serif;
    
}


@media(max-width:800px){
    .weather-wrapper{
        position: relative;
        bottom: 10px;
        text-align: center;

       
    }
    .city-temp .temp{
        font-size: 40px;
      
        
    }

    .city-temp .city{
        font-size:40px;
   
    }

    .forcast .forcastIcon{
        max-width: 10px;
        position: relative;
        bottom: 10px;
        max-width: 45px;  


    }
    .forcast .forcast{
        font-size: 13px;
        padding: 1.9px;
        margin: 0;
        margin-top: 20px;
        position: relative;
        right: 10px;
    }

    footer .github-icon{
        position: relative;
        bottom: 22px;
    }

    footer p{
    position: relative;
    bottom: 20px;
   }
   
    .render-a{
    position: relative;
    bottom: 20px;
    
   }
    .weather-wrapper footer{
        font-size: 10px;
        display:inline-flex;
    }

    .max-min{
    font-size: 10px;
    margin:0;
}

.minTemperature{
    padding-left: 8px;
}


     .weather-wrapper .input{
        padding: 10px 3px;
        font-size: 15px;
        

    }
    .weather-wrapper .submit-button{
        padding: 6px;
        

    }
}

@media(min-width:768px) and (max-width:1180px){
    .forcast .forcast{
        font-size: 23px;
        padding: 2px;
        margin: 0;
        margin-top: 25px;
        position: relative;
        right: 10px;
    }

    .forcast .forcastIcon{
        
        position: relative;
        bottom: 10px;
        max-width: 95px;  

    }

    .weather-wrapper footer{
        font-size: 17px;
        display: inline-block;
       
    }

    
    .max-min{
        font-size: 17px;
        margin:0;
    }


}
@media(min-width:319px) and (max-width:400px){
    body{
       background-size: cover;
       margin:  0;
       padding: 0 420px 20px 0;
      
       
       
    }

    .weather-wrapper .input{
        padding: 8px 5px;
        
    }
}




body{
    background-image: url("images/clearclouds.jpg");
    background-size: cover ;  
    color: white;
    font-weight: normal;
    font-size: 20px;
    
    
     
    
    
    }

.city{
font-size: 50px;
font-weight: bolder;
font-family:var(--body-font);
padding-right: 40px;


}

.city-temp{
display: flex;
justify-content: space-around;
margin:120px 30px 60px 30px;

}


.currentWeather{
border: 1px solid grey;
border-radius: 20px;
padding: 35px;
margin-top: 20px;
}

.colorChange{
color: blanchedalmond;
font-weight: bolder;
}

.currentWrapper{
display: flex;
font-size: 13px;
justify-content: space-evenly;
}

.forcast{
display: flex;
justify-content: center;
font-size: 13px;
position: relative;
margin-top: 50px;
margin-left: 10px;

}
.forcastIcon{
max-width: 90px;
position: relative;
bottom: 10px;  

}

footer{
    font-size: 17px;
    color:blanchedalmond;
    margin-top: 70px;
    font-family: var(--font-family);
    font-style: normal;
    padding-bottom:60px ;
    }

.github{
    color:var(--primary-color);
    margin: 0 3px 0 8px;
    
}

.github-icon{
    color:mediumaquamarine;
    font-size: 20px;
    position: relative;
    left: 5px;
     
    
}
p a{
    color:mediumaquamarine;
    font-size: 14px;
    font-weight: 600;
}

.input{
margin-top: 50px;
padding: 9px 50px;
}
.max-min{
position: relative;
bottom: 20px;
}
.maxTemperature{
    padding-left: 9px;
}

.render{
   position: relative;
   left: 8px;
}
.render-a{
    color: blanchedalmond;
    position: relative;
    left: 12px;
    text-decoration: underline;
}
.render-a:hover {
    color: var(--primary-color);
    
  
}
.submit-button{
border: 1px solid blanchedalmond;
padding: 10px 14px;
transition: all 100ms ease-in-out;
background-color: grey;
color: blanchedalmond;

}
.submit-button:hover{
background-color: blanchedalmond;
color: grey;

}

.temp{
font-family: "Amaranth", sans-serif;
font-size: 60px;
}


.time{
margin-top: 20px;

}


